<h1>Games</h1>
<div>
  <p>
    Research has shown that games are essential for healthy development in early childhood and beyond. Play lets children practise what they know, and also what they don't. It allows them to experiment through trial and error, find solutions to problems, work out the best strategies, and build new confidence and skills.
  </p>
  <p>
    Games always enhance the abilities and skills of children and develop their challenging spirits. It helps us in the development of a healthy mind and fit body. It is truly observed that a healthy mind resides in a healthy body, so games should be practised on a regular basis among all the students.
  </p>
  <img src="../assets/golf.jpg" alt="football" height="200" style="float:right">
  <p style="width:50%;">Games are a structured form of play. These can include goals, rules, art, environments, stories, challenges, characters, items, powers, rewards, exploration and interaction between players</p>
  
</div>
